<div class="row">
    <div ng-if="data.status">
        <div class="container col-xs-12 col-md-offset-4 col-md-4 panel panel-default">
            <form role="form" ng-submit="login()">
                <div class="form-group">
                    <label for="email">Email address / Phone Number:</label>
                    <input class="form-control" id="email">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
    <div ng-if="!data.status">
        <h1 class="text-center">Line up starting in 15 minutes.</h1>
    </div>
</div>
