@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.navbar{
	background-color:  #226666;
	height: 50px
}

header{
	font-family: "Dosis";
	font-size: 100px;
	text-align: center;
}

nav a{
	color:white;
	font-family: test;
	font-size: 30px;
}

p{
	font-family: "open sans";
	font-size: 18px;
}

@font-face {
font-family: test;
src: url("trench100free.ttf") format("opentype");
}


@font-face {
font-family: dosis;
src: url("trench100free.ttf") format("opentype");
}
